<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
</head>
<body>
<figure><img src={{im_url[0]}} alt="hat nicht funktioniert"></figure>
<big> Ergebnis: {{classification[0]}} </big><br><br>
<figure><img src={{im_url[1]}} alt="hat nicht funktioniert"></figure>
<big> Ergebnis: {{classification[1]}} </big><br><br>
<figure><img src={{im_url[2]}} alt="hat nicht funktioniert"></figure>
<big> Ergebnis: {{classification[2]}} </big><br><br>
<figure><img src={{im_url[3]}} alt="hat nicht funktioniert"></figure>
<big> Ergebnis: {{classification[3]}} </big><br><br>
<figure><img src={{im_url[4]}} alt="hat nicht funktioniert"></figure>
<big> Ergebnis: {{classification[4]}} </big><br><br>
<figure><img src={{im_url[5]}} alt="hat nicht funktioniert"></figure>
<big> Ergebnis: {{classification[5]}} </big><br><br>
<figure><img src={{im_url[6]}} alt="hat nicht funktioniert"></figure>
<big> Ergebnis: {{classification[6]}} </big><br><br>
<figure><img src={{im_url[7]}} alt="hat nicht funktioniert"></figure>
<big> Ergebnis: {{classification[7]}} </big>

<br>

</body>
</html>